<h1><%= @project.name %></h1>
<p><b>Deadline:</b> <%= @project.deadline %></p>
<h2><b>Bugs:</b></h2>
<ul>
  <% @project.bugs.each do |bug| %>
    <li><%= link_to bug.title, bug %></li>
  <% end %>
</ul>
<h3>New Bug</h3>
<% if @bug.errors.any? %>
  <h4>Errors:</h4>
  <ul>
    <% @bug.errors.full_messages.each do |e|%>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'bugs/form' %>
